auto-save-list/
elpa/
eshell/
image-dired/
newsticker/
schema/
server/
snippets/
themes/
url/
vendor/
BACKUP/
*.elc
.mc-lists.el
.org-id-locations
abbrev_defs
ac-comphist.dat
bookmarks
depreciated.el
helm-adaptive-history
sunrise-x-w32-addons.vbs
emacs-config.el
company-sql.el
/init.el~
/%backup%~
/#h!!temp!emacs-eclim!eclim.el#
