auto-save-list/
elpa/
eshell/
image-dired/
newsticker/
schema/
server/
snippets/*
themes/
url/
vendor/
BACKUP/
extra/emacs-color-theme-solarized-master/
.sx/
extra/flymake-eclim.el
extra/ry-company-sql.el
*.elc
.mc-lists.el
.org-id-locations
abbrev_defs
ac-comphist.dat
bookmarks
depreciated.el
helm-adaptive-history
emacs-config.el
company-sql.el
*~
*#
/.emacs_workgroups
/org-clock-save.el
semantic/*
semantic*
/minimal-config.el
/profile-dotemacs.el
/tramp
